{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Byte Club {% block extra_title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  {% block extra_imports %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/standard.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark nav nav-fill">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'Images/byte_logo.png' %}" alt="" width="30" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end ms-auto mb-2 mb-lg-0 white">
          <li class="nav-item ms-4">
            <a class="nav-link active Home" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link Compete" href="{% url 'competitions:compete' %}">Compete</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item ms-4 me-2">
              <a class="nav-link Edit_Account" href="{% url 'auth_app:edit_account' %}">Edit Account Settings</a>
            </li>
            <li class="nav-item ms-4 me-2">
              <a class="nav-link Logout" href="{% url 'logout' %}">Logout</a>
            </li>
            {% if request.user.is_staff %}
              <li class="nav-item ms-4">
                <a class="nav-link Add_Competition" href="{% url 'competitions:competition_add' %}">Add A New Competition</a>
              </li>
            {% endif %}
          {% else %}
            <li class="nav-item ms-4">
              <a class="nav-link Sign_Up" href="{% url 'auth_app:register' %}">Sign Up</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link Login" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/standard.js' %}">

  </script>
</body>
</html>
